body, html{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: white;
}

button{
    /* will capitalize the first letter of every word on every button */
    text-transform: capitalize;
}

#title {
    /* parallax scroling effect */
    background-image: url("../images/title-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* can give two values for background position property (x y) or (horizontal and vertical) if only one keyword is specified then the other value will be "center" */
    background-position: 75% top;
    min-height: 100%;
    z-index: 20;
	top: 0px;
    left: 0px;
    padding-bottom: 0;
    margin-bottom: 0;
}
h1{
    font-size: 6vw;
    position: absolute;
    top: 12%;
    left: 6%;
}

.movieDiv, .musicianDiv, .sportsTeamDiv{
    padding-top: 4vw;
    /* parallax scroling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    z-index: 20;
	top: 0px;
    left: 0px;
    margin-bottom: 0;
}

.movieDiv{
    background-image: url("../images/blue-movie.jpg");
}

.musicianDiv{
    background-image: url("../images/green-musician.jpg");
}

.sportsTeamDiv{
    background-image: url("../images/red-sportsTeam.jpg");
}

#movieGifs, #musicianGifs, #sportsTeamGifs{
    width: 100%;
    height: 200px;
    /* flex-direction column will diplay the flexible items vertically, as a column  */
    flex-direction: column;
    /* any overflow vertically will be hidden */
    overflow-y: hidden;
    /* any overflow horizonatally will be visible when user scrolls horizontally */
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 5vw;
}

.gifDiv{
    /* position relative is needed for the surrounding image div to place text over an image */
    position: relative;
    text-align: center;
    color: white;
    height: auto;
    width: auto;
    padding:0;
    margin: 0;

}

.gifRating{
    /* position absolute and the top, right, bottom, left distances is needed to place text over an image */
    display: none;
    position: absolute;
    bottom: 0;
    right: 3%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 0 3px 0 3px;
    
}